@charset "utf-8";
/* CSS Document */

body {
	padding:0px;
	margin:0px;
	color:#fff;
}
p {
	padding:0px;
	margin:0px;
}
#wrapper {
	width:100%;
	background:#249dca;
	padding:0px;
	margin:0px;
}
#other-wrapper {
	width:95%;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}
.top-text {
	color:#fff;
	font-family:Arial, sans-serif;
	font-size:17px;
}
.top-text p {
	margin-bottom:15px;
}
.form {
	margin-top:20px;
}